<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="imgAbt">
            <img class="img-fluid" src='images/{{img}}.png' />
        </div>
    </div>
    <div class="col-md-4">
        <h1>{{name}}</h1>
        <p>{{description}}</p>
    </div>
</div>