<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,700,900&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="css/main.css" />

    <title>Critter Spraygun</title>
</head>

<body>
    <header>
        <h1 class="hidden">Header</h1>
        <div class="logo">
            <h2 class="hidden">Logo</h2>
            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            {{!-- <img src="images/critter_logo.png" alt="Logo" /> --}}

        </div>
        </div>
        <div class="navBar-desktop">
            <h2 class="hidden">Navigation Bar</h2>
            <ul>
                <li class="scrollTo"><a>Feature</a></li>
                <li class="scrollTo"><a>Projects</a></li>
                <li class="scrollTo"><a>Videos</a></li>
            </ul>
        </div>

        <div class="navBar-mobile mobile">
            <h2 class="hidden">Navigation Bar</h2>
            <ul>
                <li class="scrollTo"><a>Feature</a></li>
                <li class="scrollTo"><a>Projects</a></li>
                <li class="scrollTo"><a>Videos</a></li>
            </ul>
        </div>
        <script src="js/main.js"></script>
</body>

</html>